In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

## Clean and create Master Districts Dataset

```district_master``` - This is a cleaned up list of school districts pulled together from 2013 & 2022-2025 years of data, keeping only the districts and fields that exist in all 5 years i.e. district ID, district name, county, region, and a couple of simple flags like whether it’s a charter so I can quickly see what each district.

***To-Dos / Notes***
- This needs a lot more cleaning...
- Re-title columns
- I will eventually need to re-clean this because rn It very bare bones
- I need to consider charter is not separated
- Double-check that matching district IDs actually represent the same real district across all years
- for all incoming data I will need to remove districts not in my district_final_cut 
- and if I go back more than 2022 if one of my districts in the final cut disappears then I need to remove them from the consideration to.
- 

i.e. 
a district is not listed for any number of reasons before 2019 but in my current list of districts from 2022-2025 if i used data back to 2014 then it will skew... actually I just loaded in 2012 and added that to the set cross refrence and it narrowd down the list a little more so im just going with those ones.

In [2]:
# Load in District data
district_2025 = pd.read_csv(r'District Infromation\2025 District Reference.csv')
district_2024 = pd.read_csv(r'District Infromation\2024 District Reference.csv')
district_2023 = pd.read_csv(r'District Infromation\2023 District Reference Information.csv')
district_2022 = pd.read_csv(r'District Infromation\2022 District Reference Information, Accountability Rating and Special Education Determination Status.csv')
district_2013 = pd.read_csv(r'District Infromation/2013 District Reference .dat', dtype=str)

In [3]:
district_25_headers = district_2025.iloc[0]
district_25 = district_2025[1:]
district_25.columns = district_25_headers
district_25.insert(loc=0, column="Year", value="2025")

district_25.head(1)

,Year,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,REGNNAME,DFLCHART,DFLALTED,D_RATING,DAD_POST,ASVAB_STATUS,OUTCOME
1,2025,001902,CAYUGA ISD,001,ANDERSON,07,REGION 07: KILGORE,N,N,B,1,,Meets Requirements

In [4]:
district_2024_headers = district_2024.iloc[0]
district_24 = district_2024[1:]
district_24.columns = district_2024_headers
district_24.insert(loc=0, column="Year", value="2024")

district_24.head(1)

,Year,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,REGNNAME,DFLCHART,DFLALTED,D_RATING,DAD_POST,ASVAB_STATUS,OUTCOME
1,2024,001902,CAYUGA ISD,001,ANDERSON,07,REGION 07: KILGORE,N,N,B,1,,Meets Requirements

In [5]:
district_2022

,COUNTY,REGION,DISTRICT,D_rating,DISTNAME,CNTYNAME,DFLCHART,DFLALTED,DAD_POST,OUTCOME,asvab_status
0,'001,'07,'001902,A,CAYUGA ISD,ANDERSON,N,N,1,Meets Requirements,
1,'001,'07,'001903,A,ELKHART ISD,ANDERSON,N,N,0,Meets Requirements,
2,'001,'07,'001904,A,FRANKSTON ISD,ANDERSON,N,N,0,Meets Requirements,ASVAB Alternative Test Offered
3,'001,'07,'001906,A,NECHES ISD,ANDERSON,N,N,1,Meets Requirements,
4,'001,'07,'001907,B,PALESTINE ISD,ANDERSON,N,N,0,Needs Assistance,
...,...,...,...,...,...,...,...,...,...,...,...
1202,'252,'09,'252902,A,NEWCASTLE ISD,YOUNG,N,N,,Meets Requirements,
1203,'252,'09,'252903,A,OLNEY ISD,YOUNG,N,N,0,Meets Requirements,
1204,'253,'01,'253901,B,ZAPATA COUNTY ISD,ZAPATA,N,N,0,Needs Assistance,
1205,'254,'20,'254901,B,CRYSTAL CITY ISD,ZAVALA,N,N,0,Needs Intervention,
1206,'254,'20,'254902,B,LA PRYOR ISD,ZAVALA,N,N,0,Meets Requirements,

In [6]:
district_2022

,COUNTY,REGION,DISTRICT,D_rating,DISTNAME,CNTYNAME,DFLCHART,DFLALTED,DAD_POST,OUTCOME,asvab_status
0,'001,'07,'001902,A,CAYUGA ISD,ANDERSON,N,N,1,Meets Requirements,
1,'001,'07,'001903,A,ELKHART ISD,ANDERSON,N,N,0,Meets Requirements,
2,'001,'07,'001904,A,FRANKSTON ISD,ANDERSON,N,N,0,Meets Requirements,ASVAB Alternative Test Offered
3,'001,'07,'001906,A,NECHES ISD,ANDERSON,N,N,1,Meets Requirements,
4,'001,'07,'001907,B,PALESTINE ISD,ANDERSON,N,N,0,Needs Assistance,
...,...,...,...,...,...,...,...,...,...,...,...
1202,'252,'09,'252902,A,NEWCASTLE ISD,YOUNG,N,N,,Meets Requirements,
1203,'252,'09,'252903,A,OLNEY ISD,YOUNG,N,N,0,Meets Requirements,
1204,'253,'01,'253901,B,ZAPATA COUNTY ISD,ZAPATA,N,N,0,Needs Assistance,
1205,'254,'20,'254901,B,CRYSTAL CITY ISD,ZAVALA,N,N,0,Needs Intervention,
1206,'254,'20,'254902,B,LA PRYOR ISD,ZAVALA,N,N,0,Meets Requirements,

In [7]:
# Strip the leading ' in front of County, Region, District (most likely there due to excel being common for analysis and it would keep those as strings not ints)
district_2022['COUNTY'] = district_2022['COUNTY'].str[1:]
district_2022['REGION'] = district_2022['REGION'].str[1:]
district_2022['DISTRICT'] = district_2022['DISTRICT'].str[1:]

district_2023['COUNTY'] = district_2023['COUNTY'].str[1:]
district_2023['REGION'] = district_2023['REGION'].str[1:]
district_2023['DISTRICT'] = district_2023['DISTRICT'].str[1:]

In [8]:
# Add years as a column
district_2013.insert(loc=0, column="Year", value="2013")
district_2022.insert(loc=0, column="Year", value="2022")
district_2023.insert(loc=0, column="Year", value="2023")

district_22 = district_2022
district_23 = district_2023

In [9]:
# This is a cleaned list of school districts I’m keeping by taking only the districts that show up in every dataset (2025, 2024, 2023, 2022, and 2013), 
# based on the assumption that if a district ID exists across all years, it’s stable enough to trust and include.

# To-do: Double-check that matching district IDs actually represent the same real district across all years
d_25 = set(district_25['DISTRICT'])
d_24 = set(district_24['DISTRICT'])
d_23 = set(district_23['DISTRICT'])
d_22 = set(district_22['DISTRICT'])
d_12 = set(district_2013['DISTRICT'])

# Creating a set of districts only in all
District_final_cut = d_25 & d_24 & d_23 & d_22 & d_12
District_final_cut
len(District_final_cut)

1162

In [10]:
# Check district lengths aren't changing  
# 2025: Original List Len: 1208 New List Len: 1208
# 2024: Original List Len: 1207 New List Len: 1207
# 2023: Original List Len: 1209 New List Len: 1209
# 2022: Original List Len: 1207 New List Len: 1207

print(f'Original List Len: {len(district_22['DISTRICT'])} New Set Len: {len(d_22)}')

Original List Len: 1207 New Set Len: 1207

In [11]:
def remove_districts(districts):
    filter = districts['DISTRICT'].isin(District_final_cut)
    filtered_district = districts[filter]
    return filtered_district

In [12]:
district_25_filtered = remove_districts(district_25)
district_24_filtered = remove_districts(district_24)
district_23_filtered = remove_districts(district_23)
district_22_filtered = remove_districts(district_22)
district_13_filtered = remove_districts(district_2013)

In [13]:
dist_25_col = set(district_25_filtered.columns)
dist_24_col = set(district_24_filtered.columns)
dist_23_col = set(district_23_filtered.columns)
dist_22_col = set(district_22_filtered.columns)
dist_13_col = set(district_2013.columns)

dist_col_in_all = dist_25_col & dist_24_col & dist_23_col & dist_22_col & dist_13_col
dist_col_in_all

{'CNTYNAME',
 'COUNTY',
 'DFLALTED',
 'DFLCHART',
 'DISTNAME',
 'DISTRICT',
 'REGION',
 'Year'}

In [14]:
# now I need to make a new data frame that is a version of all of these where all the data is the same, and I want to see what wrong with the ones that arent.
# i.e. if a cdn is around an but the district name is diff or county etc

dist_df_list = [district_25_filtered, district_24_filtered, district_23_filtered, district_22_filtered, district_13_filtered]

districts_grouped = pd.concat(
    [df.loc[:, df.columns.intersection(dist_col_in_all)] for df in dist_df_list]   
)

districts_grouped

,Year,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,DFLCHART,DFLALTED
1,2025,001902,CAYUGA ISD,001,ANDERSON,07,N,N
2,2025,001903,ELKHART ISD,001,ANDERSON,07,N,N
3,2025,001904,FRANKSTON ISD,001,ANDERSON,07,N,N
4,2025,001906,NECHES ISD,001,ANDERSON,07,N,N
5,2025,001907,PALESTINE ISD,001,ANDERSON,07,N,N
...,...,...,...,...,...,...,...,...
1223,2013,252902,NEWCASTLE ISD,252,YOUNG,09,N,N
1224,2013,252903,OLNEY ISD,252,YOUNG,09,N,N
1225,2013,253901,ZAPATA COUNTY ISD,253,ZAPATA,01,N,N
1226,2013,254901,CRYSTAL CITY ISD,254,ZAVALA,20,N,N
1227,2013,254902,LA PRYOR ISD,254,ZAVALA,20,N,N

In [15]:
dist_df_list

[0     Year DISTRICT           DISTNAME COUNTY  CNTYNAME REGION  \
 1     2025   001902         CAYUGA ISD    001  ANDERSON     07
 2     2025   001903        ELKHART ISD    001  ANDERSON     07
 3     2025   001904      FRANKSTON ISD    001  ANDERSON     07
 4     2025   001906         NECHES ISD    001  ANDERSON     07
 5     2025   001907      PALESTINE ISD    001  ANDERSON     07
 ...    ...      ...                ...    ...       ...    ...
 1204  2025   252902      NEWCASTLE ISD    252     YOUNG     09
 1205  2025   252903          OLNEY ISD    252     YOUNG     09
 1206  2025   253901  ZAPATA COUNTY ISD    253    ZAPATA     01
 1207  2025   254901   CRYSTAL CITY ISD    254    ZAVALA     20
 1208  2025   254902       LA PRYOR ISD    254    ZAVALA     20

 0                     REGNNAME DFLCHART DFLALTED D_RATING DAD_POST  \
 1           REGION 07: KILGORE        N        N        B        1
 2           REGION 07: KILGORE        N        N        B        0
 3           REGION 07: KILGORE        N        N        B        1
 4           REGION 07: KILGORE        N        N        A        0
 5           REGION 07: KILGORE        N        N        C        0
 ...                        ...      ...      ...      ...      ...
 1204  REGION 09: WICHITA FALLS        N        N        A
 1205  REGION 09: WICHITA FALLS        N        N        B        1
 1206       REGION 01: EDINBURG        N        N        B        0
 1207    REGION 20: SAN ANTONIO        N        N        D        0
 1208    REGION 20: SAN ANTONIO        N        N        D        0

 0                       ASVAB_STATUS             OUTCOME
 1                                     Meets Requirements
 2                                     Meets Requirements
 3     ASVAB Alternative Test Offered  Meets Requirements
 4                                     Meets Requirements
 5                                       Needs Assistance
 ...                              ...                 ...
 1204                                  Meets Requirements
 1205                                  Meets Requirements
 1206                                    Needs Assistance
 1207                                  Needs Intervention
 1208                                  Meets Requirements

 [1162 rows x 13 columns],
 0     Year DISTRICT           DISTNAME COUNTY  CNTYNAME REGION  \
 1     2024   001902         CAYUGA ISD    001  ANDERSON     07
 2     2024   001903        ELKHART ISD    001  ANDERSON     07
 3     2024   001904      FRANKSTON ISD    001  ANDERSON     07
 4     2024   001906         NECHES ISD    001  ANDERSON     07
 5     2024   001907      PALESTINE ISD    001  ANDERSON     07
 ...    ...      ...                ...    ...       ...    ...
 1203  2024   252902      NEWCASTLE ISD    252     YOUNG     09
 1204  2024   252903          OLNEY ISD    252     YOUNG     09
 1205  2024   253901  ZAPATA COUNTY ISD    253    ZAPATA     01
 1206  2024   254901   CRYSTAL CITY ISD    254    ZAVALA     20
 1207  2024   254902       LA PRYOR ISD    254    ZAVALA     20

 0                     REGNNAME DFLCHART DFLALTED D_RATING DAD_POST  \
 1           REGION 07: KILGORE        N        N        B        1
 2           REGION 07: KILGORE        N        N        B        0
 3           REGION 07: KILGORE        N        N        B        1
 4           REGION 07: KILGORE        N        N        B        0
 5           REGION 07: KILGORE        N        N        B        0
 ...                        ...      ...      ...      ...      ...
 1203  REGION 09: WICHITA FALLS        N        N        B
 1204  REGION 09: WICHITA FALLS        N        N        B        1
 1205       REGION 01: EDINBURG        N        N        C        0
 1206    REGION 20: SAN ANTONIO        N        N        D        0
 1207    REGION 20: SAN ANTONIO        N        N        D        0

 0                       ASVAB_STATUS             OUTCOME
 1                                     Meets Requirements
 2                                     Meets Requirements
 3     ASVAB Alternative Test Offered  Meets Requirements
 4                                     Meets Requirements
 5                                       Needs Assistance
 ...                              ...                 ...
 1203                                  Meets Requirements
 1204                                  Meets Requirements
 1205                                  Meets Requirements
 1206                                  Needs Intervention
 1207                                  Meets Requirements

 [1162 rows x 13 columns],
       Year COUNTY REGION DISTRICT           DISTNAME  CNTYNAME DFLCHART  \
 0     2023    001     07   001902         CAYUGA ISD  ANDERSON        N
 1     2023    001     07   001903        ELKHART ISD  ANDERSON        N
 2     2023    001     07   001904      FRANKSTON ISD  ANDERSON        N
 3     2023    001     07   001906         NECHES ISD  ANDERSON        N
 4     2023    001     07   001907      PALESTINE ISD  ANDERSON        N
 ...    ...    ...    ...      ...                ...       ...      ...
 1204  2023    252     09   252902      NEWCASTLE ISD     YOUNG        N
 1205  2023    252     09   252903          OLNEY ISD     YOUNG        N
 1206  2023    253     01   253901  ZAPATA COUNTY ISD    ZAPATA        N
 1207  2023    254     20   254901   CRYSTAL CITY ISD    ZAVALA        N
 1208  2023    254     20   254902       LA PRYOR ISD    ZAVALA        N

      DFLALTED                    ASVAB_STATUS
 0           N
 1           N
 2           N  ASVAB Alternative Test Offered
 3           N
 4           N
 ...       ...                             ...
 1204        N
 1205        N
 1206        N
 1207        N
 1208        N

 [1162 rows x 9 columns],
       Year COUNTY REGION DISTRICT D_rating           DISTNAME  CNTYNAME  \
 0     2022    001     07   001902        A         CAYUGA ISD  ANDERSON
 1     2022    001     07   001903        A        ELKHART ISD  ANDERSON
 2     2022    001     07   001904        A      FRANKSTON ISD  ANDERSON
 3     2022    001     07   001906        A         NECHES ISD  ANDERSON
 4     2022    001     07   001907        B      PALESTINE ISD  ANDERSON
 ...    ...    ...    ...      ...      ...                ...       ...
 1202  2022    252     09   252902        A      NEWCASTLE ISD     YOUNG
 1203  2022    252     09   252903        A          OLNEY ISD     YOUNG
 1204  2022    253     01   253901        B  ZAPATA COUNTY ISD    ZAPATA
 1205  2022    254     20   254901        B   CRYSTAL CITY ISD    ZAVALA
 1206  2022    254     20   254902        B       LA PRYOR ISD    ZAVALA

      DFLCHART DFLALTED DAD_POST             OUTCOME  \
 0           N        N        1  Meets Requirements
 1           N        N        0  Meets Requirements
 2           N        N        0  Meets Requirements
 3           N        N        1  Meets Requirements
 4           N        N        0    Needs Assistance
 ...       ...      ...      ...                 ...
 1202        N        N           Meets Requirements
 1203        N        N        0  Meets Requirements
 1204        N        N        0    Needs Assistance
 1205        N        N        0  Needs Intervention
 1206        N        N        0  Meets Requirements

                         asvab_status
 0
 1
 2     ASVAB Alternative Test Offered
 3
 4
 ...                              ...
 1202
 1203
 1204
 1205
 1206

 [1162 rows x 12 columns],
       Year DISTRICT  CNTYNAME COUNTY DFLALTED DFLCHART           DISTNAME  \
 0     2013   001902  ANDERSON    001        N        N         CAYUGA ISD
 1     2013   001903  ANDERSON    001        N        N        ELKHART ISD
 2     2013   001904  ANDERSON    001        N        N      FRANKSTON ISD
 3     2013   001906  ANDERSON    001        N        N         NECHES ISD
 4     2013   001907  ANDERSON    001        N        N      PALESTINE ISD
 ...    ...      ...       ...    ...      ...      ...                ...
 1223  2013   252902     YOUNG    252        N        N      NEWCASTLE ISD
 1224  2013   252903     YOUNG    252        N        N          OLNEY ISD
 1225  2013   253901    ZAPATA    253        N        N  ZAPATA COUNTY ISD
 1226  2013   254901    ZAVALA    254        N        N   CRYSTAL CITY ISD
 1227  2013   254902    ZAVALA    254        N        N       LA PRYOR ISD

      D_RATING REGION SECS
 0           M     07
 1           M     07
 2           M     07    D
 3           M     07
 4           M     07
 ...       ...    ...  ...
 1223        M     09
 1224        M     09
 1225        M     01    B
 1226        I     20    H
 1227        M     20    L

 [1162 rows x 10 columns]]

In [16]:
# Check how many unique 'charter_status' values each district has
charter_check = districts_grouped.groupby('DISTRICT')['DFLALTED'].nunique()

aea_check = districts_grouped.groupby('DISTRICT')['DFLALTED'].nunique()

# IDs where the status changed (more than 1 unique value)
# inconsistent_ids = charter_check[charter_check > 1].index  # Nothing
inconsistent_ids = aea_check[aea_check > 1].index
inconsistent_ids

Index(['015807', '015808', '101804', '101837', '101842', '101864', '193801'], dtype='str', name='DISTRICT')

In [17]:
districts_grouped.shape

districts_cleaned = districts_grouped[~districts_grouped['DISTRICT'].isin(inconsistent_ids)]

print(districts_grouped.shape, districts_cleaned.shape)

(5810, 8) (5775, 8)

In [18]:
districts_cleaned

,Year,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,DFLCHART,DFLALTED
1,2025,001902,CAYUGA ISD,001,ANDERSON,07,N,N
2,2025,001903,ELKHART ISD,001,ANDERSON,07,N,N
3,2025,001904,FRANKSTON ISD,001,ANDERSON,07,N,N
4,2025,001906,NECHES ISD,001,ANDERSON,07,N,N
5,2025,001907,PALESTINE ISD,001,ANDERSON,07,N,N
...,...,...,...,...,...,...,...,...
1223,2013,252902,NEWCASTLE ISD,252,YOUNG,09,N,N
1224,2013,252903,OLNEY ISD,252,YOUNG,09,N,N
1225,2013,253901,ZAPATA COUNTY ISD,253,ZAPATA,01,N,N
1226,2013,254901,CRYSTAL CITY ISD,254,ZAVALA,20,N,N
1227,2013,254902,LA PRYOR ISD,254,ZAVALA,20,N,N

In [19]:
# using 2025 as source of truth

district_master = districts_cleaned[districts_cleaned["Year"]=='2025'].reset_index(drop=True)


district_master.head()

   Year DISTRICT       DISTNAME COUNTY  CNTYNAME REGION DFLCHART DFLALTED
0  2025   001902     CAYUGA ISD    001  ANDERSON     07        N        N
1  2025   001903    ELKHART ISD    001  ANDERSON     07        N        N
2  2025   001904  FRANKSTON ISD    001  ANDERSON     07        N        N
3  2025   001906     NECHES ISD    001  ANDERSON     07        N        N
4  2025   001907  PALESTINE ISD    001  ANDERSON     07        N        N

In [20]:
district_master.columns = ['Year', 'District ID', 'District Name', 'County ID', 'County Name', 'Region', 'Charter Flag', 'DFLALTED']
district_master.head(2)

,Year,District ID,District Name,County ID,County Name,Region,Charter Flag,DFLALTED
0,2025,001902,CAYUGA ISD,001,ANDERSON,07,N,N
1,2025,001903,ELKHART ISD,001,ANDERSON,07,N,N

## Clean Student & Staff Datasets

```staff_master``` - This is all staff data from 2013 through 2025 merged the same way, with only the shared columns kept so everything lines up cleanly year to year.

```student_master``` - This is all student data from 2013 through 2025 merged together, keeping only the columns that exist in every year so the data is consistent across time.

***To-Dos / Notes***
- This needs a lot more cleaning...
- Account for any data masking (haven't handled that yet)
- Add testing and validation throughout the process to validate each step.
- Clean up the keys table, to account for columns that are the same thing but named differently depending on the yea, handle fields that only exist in some years but are still useful.

***Useful links***
- View had data is masked: https://rptsvr1.tea.texas.gov/perfreport/tapr/2025/masking.html (change year value 2013-2025)
- 2013 data download headers explained: https://rptsvr1.tea.texas.gov/perfreport/tapr/2013/download/taprref.html

In [21]:
# Load in all staff data
StudentStaff_Info_2013 = pd.read_csv(r"Staff & Student Data\2013 Staff & Student Information.txt")
StudentStaff_Info_2014 = pd.read_csv(r"Staff & Student Data\2014 Staff & Student Information.dat")
StudentStaff_Info_2015 = pd.read_csv(r"Staff & Student Data\2015 Staff & Student Information.dat")
StudentStaff_Info_2016 = pd.read_csv(r"Staff & Student Data\2016 District Staff & Student Information.dat")
StudentStaff_Info_2017 = pd.read_csv(r"Staff & Student Data\2017 Staff & Student Information.dat")
StudentStaff_Info_2018 = pd.read_csv(r"Staff & Student Data\2018 Staff, Student, and Annual Graduates.dat")
StudentStaff_Info_2019 = pd.read_csv(r"Staff & Student Data\2019 Staff, Student, and Annual Graduates.dat")
StudentStaff_Info_2020 = pd.read_csv(r"Staff & Student Data\2020 Staff, Student, and Annual Graduates.dat")
StudentStaff_Info_2021 = pd.read_csv(r"Staff & Student Data\2021 Staff, Student, and Annual Graduates.csv")
StudentStaff_Info_2022 = pd.read_csv(r"Staff & Student Data\2022 Staff, Student, and Annual Graduates.csv")
StudentStaff_Info_2023 = pd.read_csv(r"Staff & Student Data\2023 Staff, Student, and Annual Graduates.csv")
Student_Info_2024 = pd.read_csv(r"Staff & Student Data\2024 District Student Information.csv")
Staff_Info_2024 = pd.read_csv(r"Staff & Student Data\2024 District Staff Information.csv")
Student_Info_2025 = pd.read_csv(r"Staff & Student Data\2025 District Student Information.csv")
Staff_Info_2025 = pd.read_csv(r"Staff & Student Data\2025 District Staff Information.csv")

In [22]:
# Explore data
StudentStaff_Info_2014.columns

Index(['DISTRICT', 'DA0GH13N', 'DA0GR13N', 'DA0GM13N', 'DB0GR13N', 'DH0GR13N',
       'DW0GR13N', 'DI0GR13N', 'D30GR13N', 'D40GR13N',
       ...
       'DPST01SA', 'DPST06SA', 'DPST11SA', 'DPST20SA', 'DPSTTOSA', 'DPSUTOSA',
       'DPSSTOSA', 'DPSCTOSA', 'DPFEIERP', 'DPSAINHP'],
      dtype='str', length=250)

### Seprate Student and Staff Data 2013 - 2023

- When I downloaded the datasets for student and staff information 2013 and 2023 the student staff data was combined. I will want to separate these later but to make managing this many tables scalable I will throw then in a dict. ```Note: I will add 2024 and 2025 separated student and staff DataFrames to a dictionary later.```
- Load in the student staff key files

Future Goal: Combining all student and staff data downloads in master keys based on all unique rows but i think a function will be quicker for me to do now so I'll merge the headers later

In [23]:
# Add student and staff 2013 and 2023 combined dataframes to a dictionary.

student_staff_dfs = {2013:StudentStaff_Info_2013, 
                      2014:StudentStaff_Info_2014, 
                      2015:StudentStaff_Info_2015, 
                      2016:StudentStaff_Info_2016, 
                      2017:StudentStaff_Info_2017,
                      2018:StudentStaff_Info_2018,
                      2019:StudentStaff_Info_2019, 
                      2020:StudentStaff_Info_2020,
                      2021:StudentStaff_Info_2021,
                      2022:StudentStaff_Info_2022,
                      2023:StudentStaff_Info_2023}
type(student_staff_dfs)

dict

In [24]:
# Loading in all the student and staff keys for 2013 to 2024
student_key_tables ={}
staff_key_tables = {}

for year in range(2013, 2024):
    # Load in files with a year variable
    student_key = pd.read_csv(rf"Staff & Student Keys\{year}_TAPR_Advanced_Data_Download_Student.csv")
    staff_key = pd.read_csv(rf"Staff & Student Keys\{year}_TAPR_Advanced_Data_Download_Staff.csv")

    student_key_tables[year] = student_key
    staff_key_tables[year] = staff_key

print(len(student_key_tables), len(staff_key_tables))

11 11

In [25]:
# For the 2024 and 2025 school years, data sets had the header a human readable name I stripped that for now and promoted index 0 which used the old id naming conversion

# Note: I'll eventually need to save those header
def PromoteFirstRow(df, year):  
    new_headers = df.iloc[0]
    new_df = df.iloc[1:]
    new_df.columns = new_headers
    new_df = new_df.reset_index(drop=True)
    key_df = pd.DataFrame(new_headers)
    key_df = key_df.reset_index()
    key_df.columns = ["LABEL", "NAME"]

    return new_df, key_df

Student_Info_2024, key_df_stu_24 = PromoteFirstRow(Student_Info_2024, 2024)
student_key_tables[2024] = key_df_stu_24

Student_Info_2025, key_df_stu_25= PromoteFirstRow(Student_Info_2025, 2025)
student_key_tables[2025] = key_df_stu_25

Staff_Info_2024, key_df_staff_24= PromoteFirstRow(Staff_Info_2024, 2024)
staff_key_tables[2024] = key_df_staff_24

Staff_Info_2025, key_df_staff_25= PromoteFirstRow(Staff_Info_2025, 2025)
staff_key_tables[2025] = key_df_staff_25

In [26]:
# Creating two dictionary one holding all the student data another holding all the staff data 

student_tables = {}
staff_tables = {}

for year in range(2013, 2024):
    # In the dictionary student_tables we have {year: DataFrame} i want to copy the data from the respective 


    student_tables[year] = student_staff_dfs[year][student_key_tables[year]['NAME']].copy()
    staff_tables[year] = student_staff_dfs[year][staff_key_tables[year]['NAME']].copy()

    student_tables[year].insert(loc=0, column="Year", value=year)
    staff_tables[year].insert(loc=0, column="Year", value=year)

    if year == 2023:

        
        student_tables[2024] = Student_Info_2024
        student_tables[2025] = Student_Info_2025
        student_tables[2024].insert(loc=0, column="Year", value=2024)
        student_tables[2025].insert(loc=0, column="Year", value=2025)

        staff_tables[2024] = Staff_Info_2024
        staff_tables[2025] = Staff_Info_2025
        staff_tables[2024].insert(loc=0, column="Year", value=2024)
        staff_tables[2025].insert(loc=0, column="Year", value=2025)

In [27]:
# doing a basic test to see if the shapes make sense not sure why its plus one but not worries enough to check rn... i feel like it something to do with counting a header or index
for i in range(2013, 2024):    
    print(f"[{i}]: New Shape: {staff_tables[i].shape}, Expected shape: ({student_staff_dfs[i].shape[0]}, {staff_key_tables[i].shape[0]})")

[2013]: New Shape: (1228, 138), Expected shape: (1228, 137)
[2014]: New Shape: (1227, 138), Expected shape: (1227, 137)
[2015]: New Shape: (1219, 138), Expected shape: (1219, 137)
[2016]: New Shape: (1207, 138), Expected shape: (1207, 137)
[2017]: New Shape: (1203, 151), Expected shape: (1203, 150)
[2018]: New Shape: (1200, 155), Expected shape: (1200, 154)
[2019]: New Shape: (1201, 155), Expected shape: (1201, 154)
[2020]: New Shape: (1202, 116), Expected shape: (1202, 115)
[2021]: New Shape: (1204, 121), Expected shape: (1204, 120)
[2022]: New Shape: (1207, 127), Expected shape: (1207, 126)
[2023]: New Shape: (1209, 121), Expected shape: (1209, 120)

#### Current Data State (Checkpoint)

As of now, the data has been manually cleaned and separated into two main structures:

- One dictionary containing **student dataframes**
- One dictionary containing **staff dataframes**

Each dictionary is keyed by **year**, covering **2013–2023**.

For both students and staff:
- Each dataframe represents a single year
- District is present and serves as the ID
- Year will be added or already exists as a column
- Data is mostly clean and usable for analysis

At this point:
- Student and staff data are fully separated
- No further loading or restructuring is needed

This is a stable checkpoint. Further refactoring or automation can be done later if needed.

In [28]:
# Make a set/list of all the headers that exist across all the years data. Think District, Year, or columns like DPETWHIC. Doing this so i can Grab those columns later
staff_columns_by_year = {
    year: set(df.columns)
    for year, df in staff_tables.items()
    }

student_columns_by_year = {
    year: set(df.columns)
    for year, df in student_tables.items()
    }

# columns that exist in ALL years
staff_common_columns = set.intersection(*staff_columns_by_year.values())
student_common_columns = set.intersection(*student_columns_by_year.values())

In [29]:
# Eventually I will need to clean the keys and add add any keys that either had small naming diff because of years or if I am ok with missing x numbers of years
# for something. like maybe they had chronic absenteeism on here at one point.

In [30]:
# Make a new dict of data frames but make these data frames only ones with matching columns

staff_matching_col_tables = {}
student_matching_col_tables = {}

for year in staff_tables.keys():
    staff_matching_col_tables[year] = staff_tables[year][list(staff_common_columns)]

for year in student_tables.keys():
    student_matching_col_tables[year] = student_tables[year][list(student_common_columns)]

In [31]:
staff_matching_col_tables[2025].head(2)

,DPSSTOSA,DPSTPHFP,DPST01FP,DPST00SA,DPSTGIFC,DPSSTOFP,DPSTPIFC,DPSTTENA,DPSTVOFC,DPSTBAFC,DPSTINFP,DPSTKIDR,DPSTOPFC,DPSUTOFP,DPSTWHFP,DPST11FC,DPSTBAFP,DPSTMSFC,DPST11FP,DPSTSPFP,DPST06FC,DPSTHIFP,DPSTASFP,DPSUTOFC,DPSTPIFP,DPSETOFC,DPSTFEFP,DPST06SA,DPSSTOFC,DPSTFEFC,DPST01ST,DPSCTOSA,DPST11ST,DPSUTOSA,DPSUTOST,DPSTURNN,DPSOTOFC,DPST00ST,DPSTREFP,DPSTURNR,DPSTBLFP,DPSTNOFP,DPSXTOFC,DPSATOFC,DPSSTOST,DPSTMAFC,DPSECOFC,DPSTOPFP,DPSTASFC,DPSTTOSA,DPSTTWFC,DPSTGIFP,DPSTURND,DPSTHIFC,DPSTWHFC,DPST01FC,DPSTBIFC,DPST06FP,DPSTEXPA,DPSTSPFC,DPSTCOFP,DPSTMAFP,DPSTBLFC,DPSTBIFP,DPST00FP,DPSTINFC,DPSTNOFC,DISTRICT,DPSTTOST,DPSTMSFP,DPST11SA,Year,DPSCTOFC,DPSCTOFP,DPSXTOFP,DPSTVOFP,DPSETOFP,DPST00FC,DPST01SA,DPSAMIFP,DPSPTOFC,DPSTCOFC,DPSTTOFC,DPSPTOFP,DPST06ST,DPSTREFC,DPSAMIFC,DPSTTOFP,DPSTTWFP,DPSTPHFC
0,76964,0,23.9,NaN,0,2.1,0,7.5,5,42.4,0,10.9,0,7.1,92.9,19.2,80.5,9.9,36.5,11.3,4.7,1.8,0,7.6,0,14,73.2,50431,2.3,38.6,590847.7,91696,1204546.8,57090,433988.8,5.6,0,0,79.2,11.5,5.3,0.7,28.3,107,173585.4,14.1,0,0,0,59705,0,0,48.7,0.9,48.9,12.6,0,8.9,14.1,6,0,26.8,2.8,0,0,0,0.4,001902,3143733.2,18.8,62600,2025,2.1,2,26.5,9.5,13.1,0,46979,11.7,64.6,0,52.7,60.4,235995.1,41.7,12.5,49.2,0,0
1,89341,0,15.3,39890,0,2.2,0,7.9,14.2,62,0,13.5,1.1,3.8,92.9,30.7,70.7,23.8,35,10.2,16.7,3.9,0,6.5,0,31.4,78.9,50462,3.8,69.2,539939.5,101314,1843138.9,70158,458091,21.3,0,34150.2,72.3,22.9,3.2,2.2,38.1,170.5,339685,18.5,0,1.3,0,57787,0,0,92.9,3.4,81.5,13.4,0,19,15.5,9,0,21.1,2.8,0,1,0,1.9,001903,5069953.9,27.2,59941,2025,3,1.8,22.3,16.2,18.4,0.9,40314,11.3,101.1,0,87.7,59.3,842488.1,63.4,19.2,51.4,0,0

In [32]:
# From the matching student and staff dataframes I am combing all of those into one long dataframe, one for student and one for staff
staff_dfs_list = []
student_dfs_list = []

for year, df in staff_matching_col_tables.items():
    staff_dfs_list.append(df)

for year, df in student_matching_col_tables.items():
    student_dfs_list.append(df)

staff_master = pd.concat(staff_dfs_list, ignore_index=True)
student_master = pd.concat(student_dfs_list, ignore_index=True)

In [33]:
rename_map = (
    student_key_tables[2025]
    .set_index("NAME")["LABEL"]
    .to_dict()
)
student_master = student_master.rename(columns=rename_map)
student_master.head(2)

,District 2025 Student Membership: 02 Count,District 2025 Student Membership: 06 Percent,District 2025 Student Membership: Bilingual/ESL Percent,District 2025 Student Membership: Two or More Races Count,District 2025 Student Membership: Asian Count,District 2025 Student Membership: Pacific Islander Count,District 2025 Student Membership: 04 Percent,District 2025 Student Membership: Two or More Races Percent,District 2025 Student Membership: 2024 Mobility All Students Percent,District 2024 Retention: Special Ed 06 Rate,District 2025 Student Membership: Econ Disadv Count,District 2025 Student Membership: EB/EL Count,District 2025 Student Membership: 04 Count,District 2024 Retention: Special Ed 03 Rate,District 2025 Student Membership: KG Percent,District 2024 DAEP: Percent,District 2025 Student Membership: 09 Percent,District 2025 Student Membership: EB/EL Percent,District 2025 Student Membership: EE Count,District 2025 Student Membership: American Indian Percent,District 2025 Student Membership: Pacific Islander Percent,District 2024 Retention: Regular Ed 07 Rate,District 2025 Student Membership: Asian Percent,District 2025 Student Membership: 09 Count,District 2025 Student Membership: 01 Percent,District 2025 Student Membership: 07 Count,District 2025 Student Membership: PK Percent,District 2025 Student Membership: White Percent,District 2025 Student Membership: Special Ed Count,District 2025 Student Membership: 10 Count,District 2025 Student Membership: White Count,District 2024 Retention: Regular Ed 01 Rate,District 2025 Student Membership: 08 Count,District 2025 Student Membership: 02 Percent,District 2024 Retention: Special Ed 04 Rate,District 2025 Student Membership: 12 Count,District 2025 Student Membership: EE Percent,District 2025 Student Membership: KG Count,District 2025 Student Membership: 03 Percent,District 2024 Retention: Regular Ed 05 Rate,District 2025 Student Membership: 11 Count,District 2024 Retention: Special Ed KG Rate,District 2025 Student Membership: Hispanic Count,District 2025 Student Membership: African American Count,District 2025 Student Membership: 01 Count,District 2025 Student Membership: Bilingual/ESL Count,District 2024 Retention: Special Ed 02 Rate,District 2024 Retention: Special Ed 08 Rate,District 2025 Student Membership: 11 Percent,District 2025 Student Membership: At Risk Count,District 2025 Student Membership: 08 Percent,District 2025 Student Membership: All Students Count,District 2025 Student Membership: Gifted & Talented Percent,District 2024 Retention: Special Ed 05 Rate,District 2025 Student Membership: 06 Count,District 2024 DAEP: Count,District 2024 Retention: Regular Ed 03 Rate,District 2025 Student Membership: 07 Percent,District 2025 Student Membership: 05 Count,District 2025 Student Membership: African American Percent,District 2024 Retention: Regular Ed 04 Rate,District 2025 Student Membership: 10 Percent,District 2025 Student Membership: Non-Educationally Disadv Count,District 2025 Student Membership: Econ Disadv Percent,District 2025 Student Membership: American Indian Count,District 2024 Retention: Regular Ed 08 Rate,District 2025 Student Membership: 03 Count,6 Digit County District Number,District 2025 Student Membership: At Risk Percent,District 2025 Student Membership: Hispanic Percent,District 2025 Student Membership: Non-Educationally Disadv Percent,Year,District 2024 Retention: Regular Ed 06 Rate,District 2025 Student Membership: Special Ed Percent,District 2024 Retention: Special Ed 01 Rate,District 2025 Student Membership: Gifted & Talented Count,District 2024 Retention: Special Ed 07 Rate,District 2025 Student Membership: 2024 Mobility All Students Count,District 2025 Student Membership: 05 Percent,District 2025 Student Membership: 12 Percent,District 2024 Retention: Regular Ed 02 Rate,District 2024 Retention: Regular Ed KG Rate,District 2025 Student Membership: PK Count
0,39,7.2,0.8,30,4,0,7.1,5.0,15.6,0,227,5,42,0,6.7,0.8,8.6,0.8,4,0.0,0.0,0,0.7,51,7.1,50,1.8,81.0,73,66,482,3.1,53,6.6,0,50,0.7,40,6.1,0,39,0,45,34,42,5,0,0,6.6,162,8.9,595,8.9,0,43,5,10,8.4,29,5.7,0,11.1,368,38.2,0,2.4,36,1902,27.2,7.6,61.8,2013,0,12.3,50,53,0,93,4.9,8.4,5.4,2.9,11
1,82,7.4,1.3,47,10,2,7.4,3.8,14.8,0,636,16,91,0,4.8,0.4,7.9,1.3,1,0.2,0.2,2.2,0.8,98,6.5,91,8.5,81.6,113,76,1009,4.2,101,6.6,0,79,0.1,59,6.5,0,96,20,112,54,80,16,11.1,0,7.8,344,8.2,1236,4.2,0,92,5,0,7.4,105,4.4,0,6.1,600,51.5,2,0,80,1903,27.8,9.1,48.5,2013,7.8,9.1,0,52,0,179,8.5,6.4,1.3,6.2,105

In [34]:
rename_map = (
    staff_key_tables[2025]
    .set_index("NAME")["LABEL"]
    .to_dict()
)
staff_master = staff_master.rename(columns=rename_map)
staff_master.head(2)

,District 2025 Staff: School Admin Total Base Salary Average,District 2025 Staff: Teacher PH Degree Full Time Equiv Percent,District 2025 Staff: Teacher 1-5 Years Full Time Equiv Percent,District 2025 Staff: Teacher Beginning Base Salary Average,District 2025 Staff: Teacher Gifted & Talented Program Full Time Equiv Count,District 2025 Staff: School Admin Total Full Time Equiv Percent,District 2025 Staff: Teacher Pacific Islander Full Time Equiv Count,District 2025 Staff: Average Years Experience of Teachers with District,District 2025 Staff: Teacher Career & Technical Prgms Full Time Equiv Count,District 2025 Staff: Teacher BA Degree Full Time Equiv Count,District 2025 Staff: Teacher American Indian Full Time Equiv Percent,District 2025 Staff: Teacher Student Ratio,District 2025 Staff: Teacher Other Full Time Equiv Count,District 2025 Staff: Support Total Full Time Equiv Percent,District 2025 Staff: Teacher White Full Time Equiv Percent,District 2025 Staff: Teacher 11-20 Years Full Time Equiv Count,District 2025 Staff: Teacher BA Degree Full Time Equiv Percent,District 2025 Staff: Teacher MS Degree Full Time Equiv Count,District 2025 Staff: Teacher 11-20 Years Full Time Equiv Percent,District 2025 Staff: Teacher Special Education Full Time Equiv Percent,District 2025 Staff: Teacher 6-10 Years Full Time Equiv Count,District 2025 Staff: Teacher Hispanic Full Time Equiv Percent,District 2025 Staff: Teacher Asian Full Time Equiv Percent,District 2025 Staff: Support Total Full Time Equiv Count,District 2025 Staff: Teacher Pacific Islander Full Time Equiv Percent,District 2025 Staff: Educ Aide Total Full Time Equiv Count,District 2025 Staff: Teacher Female Full Time Equiv Percent,District 2025 Staff: Teacher 6-10 Years Base Salary Average,District 2025 Staff: School Admin Total Full Time Equiv Count,District 2025 Staff: Teacher Female Full Time Equiv Count,District 2025 Staff: Teacher 1-5 Years Base Salary Total,District 2025 Staff: Central Admin Total Base Salary Average,District 2025 Staff: Teacher 11-20 Years Base Salary Total,District 2025 Staff: Support Total Base Salary Average,District 2025 Staff: Support Total Base Salary Total,District 2025 Staff: Teacher Turnover Numerator,District 2025 Staff: Contract Serv Total Full Time Equiv Count,District 2025 Staff: Teacher Beginning Base Salary Total,District 2025 Staff: Teacher Regular Program Full Time Equiv Percent,District 2025 Staff: Teacher Turnover Ratio,District 2025 Staff: Teacher African American Full Time Equiv Percent,District 2025 Staff: Teacher No Degree Full Time Equiv Percent,District 2025 Staff: Auxiliary Total Full Time Equiv Count,District 2025 Staff: All Staff Total Full Time Equiv Count,District 2025 Staff: School Admin Total Base Salary Total,District 2025 Staff: Teacher Male Full Time Equiv Count,District 2025 Staff: SSA Educational Aides Full Time Equiv Count,District 2025 Staff: Teacher Other Full Time Equiv Percent,District 2025 Staff: Teacher Asian Full Time Equiv Count,District 2025 Staff: Teacher Total Base Salary Average,District 2025 Staff: Teacher Two or more races Full Time Equiv Count,District 2025 Staff: Teacher Gifted & Talented Program Full Time Equiv Percent,District 2025 Staff: Teacher Turnover Denominator,District 2025 Staff: Teacher Hispanic Full Time Equiv Count,District 2025 Staff: Teacher White Full Time Equiv Count,District 2025 Staff: Teacher 1-5 Years Full Time Equiv Count,District 2025 Staff: Teacher Bilingual Program Full Time Equiv Count,District 2025 Staff: Teacher 6-10 Years Full Time Equiv Percent,District 2025 Staff: Teacher Experience Average,District 2025 Staff: Teacher Special Education Full Time Equiv Count,District 2025 Staff: Teacher Compensatory Program Full Time Equiv Percent,District 2025 Staff: Teacher Male Full Time Equiv Percent,District 2025 Staff: Teacher African American Full Time Equiv Count,District 2025 Staff: Teacher Bilingual Program Full Time Equiv Percent,District 2025 Staff: Teacher Beginning Full Time Equiv Percent,District 2025 Staff: Teacher American Indian Full Time Equiv Count,District 2025 Staff: Teacher No Degree Full Time Equiv Count,6 Digit County District Number,District 2025 Staff: Teacher Total Base Salary Total,District 2025 Staff: Teacher MS Degree Full Time Equiv Percent,District 2025 Staff: Teacher 11-20 Years Base Salary Average,Year,District 2025 Staff: Central Admin Total Full Time Equiv Count,District 2025 Staff: Central Admin Total Full Time Equiv Percent,District 2025 Staff: Auxiliary Total Full Time Equiv Percent,District 2025 Staff: Teacher Career & Technical Prgms Full Time Equiv Percent,District 2025 Staff: Educ Aide Total Full Time Equiv Percent,District 2025 Staff: Teacher Beginning Full Time Equiv Count,District 2025 Staff: Teacher 1-5 Years Base Salary Average,District 2025 Staff: All Staff Minority Full Time Equiv Percent,District 2025 Staff: Professional Total Full Time Equiv Count,District 2025 Staff: Teacher Compensatory Program Full Time Equiv Count,District 2025 Staff: Teacher Total Full Time Equiv Count,District 2025 Staff: Professional Total Full Time Equiv Percent,District 2025 Staff: Teacher 6-10 Years Base Salary Total,District 2025 Staff: Teacher Regular Program Full Time Equiv Count,District 2025 Staff: All Staff Minority Full Time Equiv Count,District 2025 Staff: Teacher Total Full Time Equiv Percent,District 2025 Staff: Teacher Two or more races Full Time Equiv Percent,District 2025 Staff: Teacher PH Degree Full Time Equiv Count
0,65818,0,11,30875,0,2.8,0,7.2,3.2,47.4,0,11,0,6.6,90.8,20,87.4,6.8,36.8,9.8,11.8,5.6,0,7,0,11.6,76.2,40045.4,3,41.4,232733,76732,929229.6,53006.4,371739.2,5.4,2,30872,83.8,9.8,3.6,0,28.8,106,197454,12.8,22.8,0,0,45082,0,0,54.2,3,49.2,6,0.4,22,15,5.4,0,23.8,2,0.6,1.8,0,0,1902,2444371.4,12.6,46458.6,2013,1.6,1.4,27.2,5.8,10.8,1,38785.6,13.2,65.8,0,54.2,62,475936,45.4,14,51.2,0,0
1,60167,0,9.4,36340.8,2,3.2,0,9.4,5.4,81.2,0,12.8,0,5,94.8,33,84,13.4,34,12,21,3.2,0,7.6,0,15.6,84.4,35850,5,81.6,274061.2,78268.4,1439600,45384.4,347667.8,19,0,514659.4,79.8,19.6,1,2,28,155.8,300835,15,0,0,0,40536,1,2,96.4,3,91.6,9,0,21.8,12.6,11.6,0.6,15.6,1,0,14.6,0,2,1903,3915026.2,14,43717.8,2013,3,2,18,5.6,10,14.2,30191,4.4,112.2,0.6,96.6,72,752868.2,77.2,7,62,1,0

In [35]:
staff_master['6 Digit County District Number']

0          1902
1          1903
2          1904
3          1906
4          1907
          ...
15717    252902
15718    252903
15719    253901
15720    254901
15721    254902
Name: 6 Digit County District Number, Length: 15722, dtype: object

In [38]:
student_master.to_csv("Master Datasets/student_master.csv", index=False)
staff_master.to_csv("Master Datasets/staff_master.csv", index=False)