# District catigorization on various demographic indicators
The goal of this project is to creata more accurate benchmarks for school district preformance. When comparing the preformance of school districts often state or neigboring school districts are used as benchmarks; even when socio-dconomic factors can be extreamly diffrent. Some notable factors that I think may cause districts to preform diffrently is teacher compensation,  teacher student ethnic distributions (speficcily ethnic homogeneity), 

as stronger homoginininty would corilate to stronger outcomes using chorpis christi and the RGV as an example where high student teacher ethnic hogoininity shows high student preformane and outcomes when looking at STAAR or college redinesss scores in hispanic communities leading to high student preformance.

In [8]:
import pandas as pd

In [9]:
# Load in Distric data
district_2025 = pd.read_csv(r'District Infromation\2025 District Reference.csv')
district_2024 = pd.read_csv(r'District Infromation\2024 District Reference.csv')
district_2023 = pd.read_csv(r'District Infromation\2023 District Reference Information.csv')
district_2022 = pd.read_csv(r'District Infromation\2022 District Reference Information, Accountability Rating and Special Education Determination Status.csv')

# Steps
1. Create a data set of all the district refrences for n number of years (I want to see if I can get at least 5 years back)
2. I have to clean them all and then actally make one master list of districts that have been around since 2022 to 2025. Partially because I don't want to clean. but also I think it doens't matter because the change will be so tiny.




Notes--
columns I need to keep
- District_Num = DISTRICT = 6 Digit County District Number	
- District_Name = DISTNAME	= District Name	
- County_Num = COUNTY = 3 Digit County Number
- County_Name = CNTYNAME = County Name
- ESC = REGION = 2 Digit ESC Region	
- ESC_Name = REGNNAME = Region Name	
- Charter = DFLCHART = District 2025 Flag = Charter Operator (Y/N)
- AEA = DFLALTED = District Rated Under AEA Procedures Flag
- District_Rating = D_RATING = 2025 District Overall Grade   -------------------- Pull Score too
- DAD_Post = 2025 District Post Secondary Distinction	
- ASVAB_Status = ASVAB Status PEIMS Description Short
- OUTCOME = District 2025 Special Education Determination Status

In [10]:
# View districts raw data

district_2025.head(2)
# district_2024.head(2)
# district_2023.head(1)
# district_2022.head(1)

,6 Digit County District Number,District Name,3 Digit County Number,County Name,2 Digit ESC Region,Region Name,District 2025 Flag - Charter Operator (Y/N),District Rated Under AEA Procedures Flag,2025 District Overall Grade,2025 District Post Secondary Distinction,ASVAB Status PEIMS Description Short,District 2025 Special Education Determination Status
0,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,REGNNAME,DFLCHART,DFLALTED,D_RATING,DAD_POST,ASVAB_STATUS,OUTCOME
1,001902,CAYUGA ISD,001,ANDERSON,07,REGION 07: KILGORE,N,N,B,1,,Meets Requirements

In [11]:
district_25_headers = district_2025.iloc[0]
district_25 = district_2025[1:]
district_25.columns = district_25_headers


district_25.insert(loc=0, column='Year', value="2025")
district_25.head(1)

,Year,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,REGNNAME,DFLCHART,DFLALTED,D_RATING,DAD_POST,ASVAB_STATUS,OUTCOME
1,2025,001902,CAYUGA ISD,001,ANDERSON,07,REGION 07: KILGORE,N,N,B,1,,Meets Requirements

In [12]:
district_2024_headers = district_2024.iloc[0]
district_24 = district_2024[1:]
district_24.columns = district_2024_headers
district_24.insert(loc=0, column='Year', value="2024")

district_25.head(1)

,Year,DISTRICT,DISTNAME,COUNTY,CNTYNAME,REGION,REGNNAME,DFLCHART,DFLALTED,D_RATING,DAD_POST,ASVAB_STATUS,OUTCOME
1,2025,001902,CAYUGA ISD,001,ANDERSON,07,REGION 07: KILGORE,N,N,B,1,,Meets Requirements

In [13]:
district_2023.insert(loc=0, column='Year', value="2023")
district_2023['COUNTY'] = district_2023['COUNTY'].str[1:]
district_2023['REGION'] = district_2023['REGION'].str[1:]
district_2023['DISTRICT'] = district_2023['DISTRICT'].str[1:]

district_23 = district_2023
district_23.head()

,Year,COUNTY,REGION,DISTRICT,DISTNAME,CNTYNAME,DFLCHART,DFLALTED,ASVAB_STATUS
0,2023,001,07,001902,CAYUGA ISD,ANDERSON,N,N,
1,2023,001,07,001903,ELKHART ISD,ANDERSON,N,N,
2,2023,001,07,001904,FRANKSTON ISD,ANDERSON,N,N,ASVAB Alternative Test Offered
3,2023,001,07,001906,NECHES ISD,ANDERSON,N,N,
4,2023,001,07,001907,PALESTINE ISD,ANDERSON,N,N,

In [14]:
district_2022.insert(loc=0, column="Year", value="2022")
district_2022['COUNTY'] = district_2022['COUNTY'].str[1:]
district_2022['REGION'] = district_2022['REGION'].str[1:]
district_2022['DISTRICT'] = district_2022['DISTRICT'].str[1:]

district_22 = district_2022
district_22.head()

,Year,COUNTY,REGION,DISTRICT,D_rating,DISTNAME,CNTYNAME,DFLCHART,DFLALTED,DAD_POST,OUTCOME,asvab_status
0,2022,001,07,001902,A,CAYUGA ISD,ANDERSON,N,N,1,Meets Requirements,
1,2022,001,07,001903,A,ELKHART ISD,ANDERSON,N,N,0,Meets Requirements,
2,2022,001,07,001904,A,FRANKSTON ISD,ANDERSON,N,N,0,Meets Requirements,ASVAB Alternative Test Offered
3,2022,001,07,001906,A,NECHES ISD,ANDERSON,N,N,1,Meets Requirements,
4,2022,001,07,001907,B,PALESTINE ISD,ANDERSON,N,N,0,Needs Assistance,